* {
	margin: 0;
	padding: 0;
}

a {
	color: #ff0;
}

html, body {
	background-color: #222;
	font-family: serif;
	color: #fff;
}
body {
	background: #111111;
	background: -moz-linear-gradient(top, #111111 0%, #222222 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#111111), color-stop(100%,#222222));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111111', endColorstr='#222222',GradientType=0 );
	font-size: 16px;
}

#container {
	padding: 1em;
}

h1 {
	font-weight: normal;
	margin-bottom: 0.5em;
}

#list {
	margin: 2em 0;
	font-family: monospace;
}

#list .factoid {
	padding-bottom: 0.5em;
	margin: 1em 0;
	color: #fff;
	width: 100%;
	overflow: hidden;
	
	background: #000000;
background: -moz-linear-gradient(top, #000000 0%, #111111 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#111111));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#111111',GradientType=0 );
	
	-webkit-border-top-right-radius: 12px;
	-webkit-border-bottom-left-radius: 12px;
	-moz-border-radius-topright: 12px;
	-moz-border-radius-bottomleft: 12px;
	border-top-right-radius: 12px;
	border-bottom-left-radius: 12px;
}

#list dt, #list dd {
	padding: 8px;
}

#list dt {
	float: left;
	width: 200px;
	clear: left;
	font-size: 1.5em;
}

#list .name:after {
	content: ":";
}

#list .aliases li {
	font-size: 0.75em;
}

#list dd {
	margin-left: 216px;
}

.contents {
	margin-bottom: 1em;
	white-space: pre-wrap;
}

.popularity {
	font-family: sans-serif;
	font-size: 0.85em;
	font-style: italic;
	float: right;
}


#searchbox {
	position: fixed !important;
	position: absolute;
	top: 0;
	right: 0;
	padding: 1em;
	font-family: sans-serif;
}

#searchbox .submit {
	display: none;
}

#search {
	background-color: #000;
	font-family: monospace;
	font-weight: inherit;
	font-size: inherit;
	color: #fff;
	border: none;
	border-bottom: 1px solid #fff;
	padding: 4px;
	padding-right: 20px;
	outline: none;
	width: 200px;
}

#search.loading {
	background: #000 url(/loader-dark.gif) no-repeat 200px center;
}

.error {
	margin: 1em 0;
	padding: 1em;
	border: 1px solid #f00;
	background-color: #a00;
	font-family: sans-serif;
}
